<div id="cSelectModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">בחירת לקוח</h2>
  <p class="lead">נמצאו מספר לקוחות עם הפרטים שהזנת</p>
  <div>
    <table id="cResultList">
      <tr>
        <th>תז</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>מגדר</th>
        <th>ישוב</th>
        <th>כתובת</th>
        <th>טלפון</th>
        <th>דוא"ל</th>
      </tr>
      <tr>
        <td>111111111</td>
        <td>אלון</td>
        <td>פנחס</td>
        <td>ז</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>222222222</td>
        <td>אלון</td>
        <td>צוקר</td>
        <td>ז</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>333333333</td>
        <td>אלון</td>
        <td>שיטרית</td>
        <td>ז</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <p></p>
  <div class="left">
    <a href="customer.html" class="button small radius">פתיחת כרטיס לקוח</a>
  </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript">
   $("#findBtn").click(function(){
     $('#cSelectModal').foundation('reveal', 'open');
   });
  $("#cResultList tr:not(:first-child)").click(function(){
    $("#cResultList tr").removeClass("selected");
    $(this).addClass("selected");
  });

  
</script>
