/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *

 */

@import "settings";

@import
//   "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
  "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
//   "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switches",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";


/////////////////////// My Custom Styling //////////////////////////////

a.disabled {
  pointer-events: none !important;
}

table.selectable tr:not(:first-child):hover {
  background-color: scale-color($primary-color, $alpha: -92%);
}

tr.selected {
	background-color: scale-color($primary-color, $alpha: -70%) !important;
}

.tabs {
	margin-right: 0;
}
tabs>li:focus, .tabs>li>a:focus {
	outline: 0;
}

.tabs>li:first-child, .tabs>li:first-child>a {
	border-top-right-radius: $global-radius*2;
	background-color: $tabs-navigation-bg-color;
}
.tabs>li:last-child, .tabs>li:last-child>a {
	border-top-left-radius: $global-radius*2;
	background-color: $tabs-navigation-bg-color;
}
.tabs>li.active {
	background-color: $tabs-navigation-bg-color;
}
.tabs>li.active>a {
	border-radius: ($global-radius*3) ($global-radius*3) 0 0;
}


.tabs-content {
	border: solid 1px $silver;
	height: 16em;
	overflow: auto;
}
.tabs-content table {
	border: none;
}

.panel.success {
  background-color: scale-color($success-color, $lightness: 90%);
}

.panel.success p{
  color: scale-color($success-color, $lightness: -10%);
  font-weight: bold;
  font-size: 1.15em;
}

.panel.warning {
  background-color: scale-color($warning-color, $lightness: 90%);
}

.panel.warning p{
  color: scale-color($warning-color, $lightness: -10%);
  font-weight: bold;
  font-size: 1.15em;
}


.panel.error {
  background-color: scale-color($alert-color, $lightness: 90%);
}

.panel.error p{
  color: scale-color($alert-color, $lightness: -10%);
  font-weight: bold;
  font-size: 1.15em;
}